.welcomeSec {
    padding: 20px 0;
    background-image: url('../images/banner-img.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: contain;
}
.welcomeLeft h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #0A1C31;
    margin: 0 0 20px;
    max-width: 490px;
    width: 100%;
}
.welcomeLeft a.btn {
    margin: 10px 0 0;
}
.welcomeLeft {
    max-width: 567px;
}
ul.feature_list li {
    background: #FFFFFF;
    box-shadow: -20px 14px 74px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 59px 0;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    max-width: 248px;
    width: 100%;
}
ul.feature_list li figure {
    margin: 0 20px 0 0;
}
ul.feature_list li span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
ul.feature_list li:nth-child(2) {
    margin-left:50px
    
}

/* home_solutions_wrap style
------------------------------------------------ */
.home_solutions_wrap .page_head {
    max-width: 520px;
    margin: 0 auto 30px;
}
.home_solutions_wrap {
    padding: 80px 0;
}
.h_solution_block:nth-child(2n+1) .row {
    flex-direction: row-reverse;
}
.h_solution_block figure {
    margin: 0 auto 0;
}
.h_solution_block figure img {
    display: block;
    max-height: 245px;
    margin: 0 auto;
    max-width: 90%;
}
.h_solution_block {
    padding: 40px 0;
}
.h_solution_block_content h3 {
    margin: 0 0 15px;
    position: relative;
    padding-bottom: 12px;
}
.h_solution_block_content h3:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #ec3c3f;
}




/* Solutions Areas style
------------------------------------------------ */
.solutions_areas_wrap{
    padding: 80px 0;
    background-color: #F8FAFD;
}
.solutions_area_block {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    max-width: 585px;
    margin: 0 auto;
    transition: all ease 0.4s;
}
.solutions_area_block:hover {
    box-shadow: 5px 14px 60px rgba(0, 0, 0, 0.10);
    transform: translateY(-5px);
}
.solutions_area_block h3 {
    margin: 0 0 20px;
}
.solutions_area_block  figure {
    max-width: 370px;
    margin: 0 auto 30px;
    display: block;
}
.solutions_area_block  ul {
    text-align: left;
    margin: 0 auto 40px;
    max-width: 385px;
}
.solutions_area_block ul li {
    padding: 0 0 0 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
/* or 267% */
    color: #000000;
    margin: 0 0 22px;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
}



/* Download reports style
------------------------------------------------ */
.download_reports_wrap {
    padding: 65px 0;
}
.page_head.text-left:after, .page_head.text-left:before {
    margin: 0;
}
.d_r_left .page_head {
    padding-bottom: 15px;
    margin: 0 0 20px;
}
.d_r_left p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #454545;
    max-width: 575px;
    margin: 0 0 20px;
}
.d_r_left ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
/* or 240% */
    color: #000000;
    padding-left: 33px;
    background-image: url(../images/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
}
.d_r_right figure {
    max-width: 550px;
    margin: 0 0 0 auto;
}
.d_r_right figure img{
    display:block;
}


.home_cta_wrap {
    padding: 55px 0;
    background: #EC3C3F;
    color: #fff;
}
.home_cta_wrap h3 {
    color: #fff;
    margin: 0;
}

/* testimonial section style
---------------------------------------- */
.testimonials_wrap{
    padding:65px 0;
}
.testimonial_slider {
    max-width: 922px;
    margin: 0 auto;
    border: 10px solid #F8FAFD;
    padding: 55px;
}
.testi_author {
    display: flex;
    align-items: center;
    margin: 25px 0 0;
}

.testi_author figure {
    max-width: 65px;
    margin: 0 15px 0 0;
}
.testi_author_info strong {
    display: block;
    font-size: 15px;
    color: #000;
}
.testi_author_info {
    font-size: 15px;
    color: #888888;
}
.testi_slide p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #000000;
    max-width: 655px;
}
span.quote_icon {
    margin: 0 0 15px;
    display: block;
}
.testimonial_slider ul.slick-dots {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.testimonial_slider ul.slick-dots li {
    margin: 0 0 15px;
}
.testimonial_slider ul.slick-dots li button {
    font-size: 0;
    border: 0;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: rgba(236, 60, 63, 0.1);
    margin: 0;
    padding: 0;
    display: block;
}
.testimonial_slider ul.slick-dots li.slick-active button {
    background: #ec3c3f;
}
.testimonials_wrap .page_head.divider_red:after,.testimonials_wrap .page_head.divider_red:before {
    background: #ec3c3f;
}
.testimonials_wrap .page_head {
    padding-bottom: 15px;
}

@media (max-width:1400px){
    .welcomeSec {
        background-position: 120% center;
    }
}


@media (max-width:991px){
    .welcomeSec {
        background-position: right bottom;
        background-size: 570px;
        padding-bottom: 110px;
        padding-bottom: 30px;
    }
    ul.feature_list {
        margin-top: 70px;
    }
    ul.feature_list li {
        margin: 35px 0;
    }
}

@media (max-width:767px){
    .home_solutions_wrap {
        padding: 40px 0;
    }
    h2 {
        font-size: 26px;
        line-height: 1.3;
        font-weight: 600;
    }
    .welcomeLeft h1 {
        font-size: 28px;
        line-height: 36px;
        margin: 10px 0 20px;
    }
    .home_solutions_wrap .page_head {
        margin: 0 auto 20px;
    }
    .h_solution_block {
        padding: 25px 0;
    }
    .solutions_area_block {
        margin: 0 0 30px;
    }
    .solutions_areas_wrap {
        padding: 50px 0 20px;
    }
    .download_reports_wrap {
        padding: 40px 0;
    }
    .d_r_right {
        margin-top: 30px;
    }

      
    .home_cta_wrap .row {
        justify-content: center;
    }    
    .home_cta_wrap .row .text-end {
        text-align: center!important;
        margin-top: 20px;
    }
    .testimonials_wrap {
        padding: 45px 0;
    }
    .testimonial_slider {
        border: 6px solid #F8FAFD;
        padding: 30px 50px 30px 30px;
    }
    .testi_slide p {
        font-size: 18px;
        line-height: 28px;
    }
    .testimonial_slider ul.slick-dots {
        right: 20px;
    }
}


@media (max-width:575px){
    
    .welcomeSec {
        background-position: right bottom;
        background-size: 540px;
        padding-bottom: 110px;
        padding-bottom: 20px;
    }
}