@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global style
------------------------------------ */
html{
    font-size: 14px;
}
body {
    font-family: 'Mulish', sans-serif;
    color: #454545;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-weight: 400;
    background: #eaedf7;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0A1C31;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
}
h3 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #454545;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #EC3C3F;
}
a {
    color:  #454545;
    cursor: pointer;
    text-decoration: none;
}
img {
    max-width: 100%;
    height:auto;
}
ol,
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.c_red {
    color: #EC3C3F;
}

.btn {
    background: #EC3C3F;
    padding: 10px 15px;
    letter-spacing: 0.06em;
    border-radius: 3px;
    text-align: center;
    transition: all ease 0.4s;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.btn.btn_white {
    background: #fff;
    color: #ec3c3f;
    border-color: #ec3c3f;
}
.btn:hover,
.btn.btn_white:hover,
.btn:focus,
.btn.btn_white:focus {
    color: #fff;
    background: #0A1C31;
    border-color: #0A1C31;
}

label.c_radio input[type="radio"],
label.c_checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
label.c_checkbox,
label.c_radio {
    position: relative;
    margin: 0 20px 0 0!important;
    cursor: pointer;
}
label.c_radio span,
label.c_checkbox span {
    padding-left: 30px;
    position: relative;
    display: block;
}
label.c_radio span:before,
label.c_checkbox span:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #DDDDDD;
}
label.c_radio input[type="radio"]:checked + span:before,
label.c_checkbox input[type="checkbox"]:checked + span:before {
    border: 5px solid #EC3C3F;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}
label.c_checkbox span:before {
    border-radius: 4px;
}
label.c_checkbox input[type="checkbox"]:checked + span:before {
    border: 0px solid #EC3C3F;
    background-color: #EC3C3F;
    /* background-image: url('../images/checkbox-check.svg'); */
    background-repeat: no-repeat;
    background-position: center;
}



/* loader css
================================ */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    background: rgba(255, 255, 255, 0.97);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader_div {
    border: 6px solid rgba(55,114,255,0.19);
    border-radius: 50%;
    border-top:6px solid #EC3C3F;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*Header  style
=============================================================*/
header.main_header {
    position: relative;
    position: sticky;
    top: 0;
    z-index: 9990;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}
nav.navbar {
    padding: 0px 0;
}
ul.navbar-nav {
    padding: 0px 0 0;
    width: 100%;
}
.navbar-brand img {
    max-width: 125px;
    height: auto;
    object-fit: contain;
}
ul.navbar-nav > li {
    margin: 0 0 0 44px;
    position: relative;
    padding: 17px 0;
    display: flex;
    align-items: center;
}
ul.navbar-nav > li > a {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}
ul.navbar-nav > li > a.btn {
    color: #fff;
}
span.s_menu_toggle svg {
    transition: all ease 0.4s;
}
span.s_menu_toggle svg path {
    fill: #333;
}
span.s_menu_toggle.active svg {
    transform: rotate(-180deg);
}
ul.navbar-nav li.active > a{
    color:#EC3C3F;
    font-weight: 600;
}
ul.navbar-nav li.active .s_menu_toggle svg path {
    fill: #EC3C3F;
}
.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0;
    border: 0;
    box-shadow: 0 4px 16px rgb(0 0 0 / 14%);
    top: 35px;
}
.dropdown-menu.dropdown-menu-right a {
    padding: 6px 15px;
}
ul.sub_menu_list {
    position: absolute;
    top: 150%;
    left: 0;
    width: 220px;
    background: #fff;
    margin: 0;
    padding: 8px 0px;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgb(0 0 0 / 14%);
    display: block;
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (min-width:1200px){
ul.navbar-nav > li:hover ul.sub_menu_list {
    display: block;
     top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}
}
ul.sub_menu_list li {
    margin: 0;
}
ul.sub_menu_list li a {
    padding: 5px 15px;
    display: block;
}
ul.sub_menu_list li a:hover,
ul.sub_menu_list li.active a,
.dropdown-menu.dropdown-menu-right a:hover {
    text-decoration: none;
    background-color: #f8f9fa;
    color: #EC3C3F;
}
ul.sub_menu_list:before,
.dropdown-menu.dropdown-menu-right:before {
    display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: 10px;
    border-style: solid;
    border-width: 0 8px 10px 8px;
    border-color: transparent transparent #fff transparent;
}
.dropdown-menu.dropdown-menu-right:before{
    left: auto;
    right: 10px;
}

.menu_wrap {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.navbar-brand {
    margin-right: 20px;
    padding: 6px 0;
}
.header_right {
    width: calc(100% - 105px);
    justify-content: space-between;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
ul.navbar-nav li > a i.fa-cog {
    margin-left: 3px;
    font-size: 16px;
    color: #EC3C3F;
        animation: rotation 4s infinite linear;
        -webkit-animation: rotation 4s infinite linear;
}
@keyframes rotation {
        from {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
        }
        to {
                transform: rotate(359deg);
                -webkit-transform: rotate(359deg);
        }
}
@-webkit-keyframes rotation {
        from {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
        }
        to {
                transform: rotate(359deg);
                -webkit-transform: rotate(359deg);
        }
}

.menuToggle {
    margin: 0 0 0 10px;
    padding: 5px 5px;
    font-size: 18px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.menuToggle span {
    height: 2px;
    width: 100%;
    background: #0a1c31;
    display: block;
    margin: 3px 0;
    transition: all ease 0.4s;
}
body.menu_expanded .menuToggle {
    position: relative;
    z-index: 99990;
}
body.menu_expanded .menuToggle span:nth-child(2) {
    display: none;
}
body.menu_expanded .menuToggle span:first-child {
    transform: rotate(45deg);
    transform-origin: 8px 1px;
}
body.menu_expanded .menuToggle span:last-child {
    transform: rotate(-45deg);
    transform-origin: 6px 0px;
}
.menu_wrap .dropdown-toggle > span {
    max-width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.searchToggle.active {
    background: rgb(242 116 33 / 100%);
    color: #fff;
}
.kaneCounty_text {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-top: 6px;
}
.kaneCounty_text small {
    font-size: 13px;
    font-weight: 300;
    margin-left: 15px;
}











@media (min-width: 1200px){
.dropdown.userDropdown:hover .dropdown-menu {
    display: block;
}
}
.header_right {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.kaneCounty_text {
    width: 100%;
}
.menu_right_block {
    margin-left: 40px;
}
.menu_right_block .dropdown-menu.dropdown-menu-right {
    top: 39px;
    min-width: 180px;
}
.menu_right_block .dropdown.userDropdown {
    padding: 6px 0;
}
.menu_right_block .dropdown.userDropdown a.dropdown-toggle:after {
    display: none;
}
.menu_right_block .dropdown.userDropdown a.dropdown-toggle svg path {
    fill: #fff;
}
.menu_right_block .dropdown-menu.dropdown-menu-right > span {
    padding: 6px 15px;
    display: block;
}









.page_head {
    position: relative;
    margin: 0 0 30px;
    padding-bottom: 10px;
}
.page_head:after,.page_head:before {
    display: block;
    content: "";
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 1px;
    background: #0A1C31;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.page_head:after {
    width: 30px;
    bottom: 4px;
}



/* Footer style
================================================== */
footer.main_footer {
    background: #0A1C31;
    padding: 48px 0 0;
    color: #fff;
}
.footer_block li a {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
    transition: all ease 0.4s;
}
.footer_block p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    max-width: 378px;
}
.footer_block h4 {
    margin: 0 0 15px;
    padding-bottom: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.footer_block h4:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 1px;
    background: #EC3C3F;
}
a.footer_logo {
    max-width: 150px;
    display: block;
    margin: 0 0 12px;
}
.footer_block {
    margin: 0 0 30px;
}
.footer_block li a svg {
    margin-right: 10px;
}
ul.social_list {
    display: flex;
    align-items: center;
    margin: 30px 0 0;
}
ul.social_list li a {
    background: #0A1C31;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    display: block;
    height: 40px;
    width: 40px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: all ease 0.4s;
}
ul.social_list li a svg {
    margin: 0;
}
.footer_block li a:hover {color: #ec3c3f;}
ul.social_list li {
    margin-right: 15px;
}
ul.social_list li a:hover {
    background: #fff;
    color: #0a1c31;
    border-color: #fff;
}
.copyright_block {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 17px 0;
    margin: 20px 0 0;
}
.copyright_block p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
}
.backToTop {
    height: 42px;
    width: 42px;
    display: block;
    background: #027dff;
    border-radius: 6px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    z-index: 99;
    padding: 10px 0;
    text-align: center;
    background: #0A1C31;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}
ul.navbar-nav > li a.nav-link {
    color: #333;
}
.dropdown-toggle::after {
    margin-left: 6px;
    position: relative;
    top: 2px;
}
.dropdown-menu {
    position: absolute;
    top: 150%;
    left: 0;
    width: 220px;
    background: #fff;
    margin: 0;
    padding: 8px 0px;
    border-radius: 4px;
    box-shadow: 0 4px 16px rgb(0 0 0 / 14%);
    display: block;
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border:0px;
}
.dropdown-menu.show{
        display: block;
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}
.dropdown-menu .dropdown-item {
    padding: 5px 15px;
    display: block;
}
ul.navbar-nav > li a.btn.register_btn {
    color: #fff;
    padding: 10px 15px;
}
/* My Responsive style
===================================================== */  
@media (min-width: 1250px){
.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}
}  

@media (max-width: 1450px){
ul.navbar-nav > li {
    margin: 0 0 0 20px;
}
.sec_heading h2 {
    font-size: 36px;
}
.navbar-brand img {
    max-width: 140px;
}
}


@media (max-width: 1280px){
ul.navbar-nav > li {
    margin: 0 0 0 12px;
}
}


@media screen and (max-width: 1199px) {
ul.navbar-nav > li.opened > ul.sub_menu_list {
    display: block;
        top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

.menu_right_block {
    display: flex;
    align-items: center;
    margin-left: 0;
}
.kaneCounty_text {
    width: auto;
}

span.s_menu_toggle svg path {fill: #131546;}
span.s_menu_toggle svg {
    width: 20px;
    height: 20px;
}
ul.navbar-nav li.active > a {
    color: #EC3C3F;
}
.menu_expanded .menuToggle span {
    background: #131546;
}
.header_right {
    width: auto;
    flex-direction: row;
    align-items: center;
}
.kaneCounty_text.text-end {
    padding: 0 15px 0 0;
}

header.main_header {
    padding: 3px 0;
}
.sub_menu .nav-tabs li.nav-item {
    margin: 0 15px 0 0;
}
.sub_menu .nav-tabs li.nav-item:last-child {
    margin: 0;
}
ul.navbar-nav li {
    margin: 0 0 10px!important;
}
.menu_wrap {
    position: fixed;
    right: -100%;
    left: auto;
    width: 300px;
    background: #fff;
    height: 100%;
    top: 0;
    padding: 60px 0px 60px;
    overflow: auto;
    box-shadow: 0 0 30px rgb(0 0 0 / 15%);
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    opacity: 0;
    z-index: 9999;
    display: block;
}
body.menu_expanded .menu_wrap {
    right: 0px;
    opacity: 1;
}
ul.navbar-nav {
    margin: 0px;
}
ul.navbar-nav li a {
    padding: 12px 20px;
    display: block;
}
ul.navbar-nav li {
    margin: 0 0 0px!important;
    border-bottom: 1px solid #f3f3f3;
    padding: 0;
}
ul.navbar-nav li:first-child {
    border-top: 1px solid #f3f3f3;
}
ul.sub_menu_list {
    position: static;
    box-shadow: none;
    width: 100%;
    padding: 0;
    background: #faf7f7;
    display: none;
    visibility: visible;
    opacity: 1;
    border-radius: 0;
}
ul.sub_menu_list:before{
    display: none;
}
ul.sub_menu_list li {
    border: 0!important;
}
ul.sub_menu_list li a {
    padding: 8px 30px;
}
span.s_menu_toggle {
    height: 45px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    z-index: 1;
}
ul.navbar-nav > li {
    display: block;
}
ul.navbar-nav > li > a.register_btn.btn {
    max-width: calc(100% - 30px);
    margin: 20px auto 0;
}
}


@media (max-width: 991px){
.serachFormBlock form label {
    margin: 0 10px  0 0;
    font-size: 13px;
    line-height: 16px;
}
.breadcrumbs_block ul li {
    font-size: 13px;
    line-height: 16px;
}
.sec_heading h2 {
    font-size: 32px;
}
footer.main_footer h5 {
    font-size: 16px;
}
}


@media screen and (max-width: 767px) {
.breadcrumbs_wrap .row {
    justify-content: center;
}
.breadcrumbs_block ul {
    justify-content: center;
}
.serachFormBlock {
    justify-content: center;
    margin: 10px 0 0;
}
.breadcrumbs_block ul li:last-child {
    margin-right: 0;
}
.breadcrumbs_block ul li a {
    align-items: flex-end;
}
.kaneCounty_text.text-end {
    display: none;
}
h3 {
    font-size: 20px;
    line-height: 1.3;
}
.sec_heading h2 {
    font-size: 28px;
}
.footer_left {
    margin: 0 0 30px;
}
.copyright_text {
    margin: 0px 0 0;
}
}


@media (max-width: 575px){
.serachFormBlock form {
    flex-wrap: wrap;
}
.serachFormBlock form label {
    width: 100%;
    text-align: center;
    margin: 0 0 2px;
}
.serachFormBlock .searchField {
    width: calc(50% - 22px);
}
.serachFormBlock .searchField .form-control {
    width: 100%;
    max-width: initial;
}
label.c_checkbox, label.c_radio {
    margin: 0 15px 0 0!important;
}
h3 {
    font-size: 18px;
    line-height: 1.3;
}
.sec_heading h2 {
    font-size: 26px;
    margin: 0 0 20px;
}
footer.main_footer h5 {
    font-size: 15px;
}
ul.browsersList li {
    padding: 0 8px;
    text-align: center;
}
.backToTop {
    right: 10px;
    bottom: 10px;
}
}




/* Dashboard css start here
---------------------------------------------------- */
.form-group {
    margin: 0 0 20px 0px;
}
.form-group .form-control {
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    min-height: 38px;
    padding: 4px 15px;
    color: #0a1c31;
}
.form-group .form-control.input_error,
.form-group .form-control.input_error:focus {
    border-color: #ef3a42;
    color: #ef3a42;
    box-shadow: 4px 4px 10px rgb(239 58 66 / 3%);
    background-image: url('../images/error-icon.svg');   
     background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    background-size: 22px;
}
.form-group label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    margin: 0px 0 5px;
    color: #0a1c31;
}
.form-group select.form-control {
    background-image: url('../images/select-arrow.svg');
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
}
.form-group .form-control:focus {
    border-color: #5f99e4;
}
label.c_radio input[type="radio"],
label.c_checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
label.c_checkbox,
label.c_radio {
    position: relative;
    margin: 0 20px 5px 0!important;
    cursor: pointer;
}
label.c_radio span,
label.c_checkbox span {
    padding-left: 30px;
    position: relative;
    display: block;
    padding-top: 1px;
}
label.c_radio span:before, label.c_checkbox span:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #dddddd;
}
label.c_radio input[type="radio"]:checked + span:before, label.c_checkbox input[type="checkbox"]:checked + span:before {
    border: 5px solid #3b4046;
    background: #dbdee7;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}
label.c_checkbox span:before {
    border-radius: 4px;
}
label.c_checkbox input[type="checkbox"]:checked + span:before {
    border: 0px solid #dbdee7;
    background-color: #f13c41;
    background-image: url('../images/checkbox-check.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.d_head h4 {
    position: relative;
    padding-bottom: 10px;
}
.d_head h4:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 1px;
    background: #ef3d43;
}

/* Table and Data table style
===================================================== */ 
ul.menu_list{
    overflow: auto;
} 
ul.menu_list li .dropdown-toggle::after {
    display: none;
}
ul.menu_list li a.nav-link {
    color: #fff;
}
ul.menu_list li .dropdown-menu {
    width: 100%;
    border-radius: 0;
    background: rgba(255,255,255,.07);
    padding:0 0 10px;
}
ul.menu_list li .dropdown-menu .dropdown-item {
    padding: 8px 20px 8px 50px;
    display: block;
    position: relative;
}
ul.menu_list li .dropdown-menu .dropdown-item:after {
    display: block;
    content: "";
    position: absolute;
    left: 25px;
    height: 8px;
    width: 8px;
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 50px;
    top: 14px;
}
.m_i_arrow{
    transition: all ease 0.4s;
}
ul.menu_list li a.nav-link.show .m_i_arrow {
    transform: rotate(-90deg);
}
ul.menu_list li a.nav-link.show {
    background: rgba(255,255,255,.07);
}
.menu_collapsed .sidebar_menu:not(:hover) ul.menu_list li .dropdown-menu.show {
    display: none;
}
@media (max-width:1199px){
body.menu_collapsed .main_content {
    max-width: calc(100%);
    flex: 0 0 calc(100%);
}
}


table.dataTable {
    margin: 0px 0 10px;
    position: relative;
    background: rgb(59,64,70);
    background: -moz-linear-gradient(top, rgba(59,64,70,1) 0%, rgba(45,48,55,1) 100%);
    background: -webkit-linear-gradient(top, rgba(59,64,70,1) 0%,rgba(45,48,55,1) 100%);
    background: linear-gradient(to bottom, rgba(59,64,70,1) 0%,rgba(45,48,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4046', endColorstr='#2d3037',GradientType=0 );
    box-shadow: none!important;
}
.table-responsive {
    box-shadow: 0px 4px 15px rgb(10 28 49 / 15%);
}
.table > thead {
    vertical-align: bottom;
    background: #0a1c31;
    color: #fff;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #F0F5FC;
    color: #555555;
}
.table thead tr th {
    font-weight: 500;
    /* font-size: 13px; */
    line-height: 18px;
    border: 0px;
    padding: 13px 18px;
    white-space: nowrap;
    border-bottom: 1px solid rgb(255 255 255 / 7%)!important;
    background-size: 16px 16px;
    background: transparent;
    color: #fff;
}
.table tbody tr td {
    color: #0a1c31;
    border: 0px;
    font-weight: 400;
    /* font-size: 13px; */
    line-height: 18px;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 8px 15px;
    border-right: 1px solid rgb(222 226 230);
    /* border-bottom: 1px solid rgb(222 226 230); */
}
.table tbody tr td:last-child {
    border-right: 0;
}
.table tbody tr td a {
    color: #0a1c31;
    text-decoration: underline;
    white-space: nowrap;
}
.table_btn_sm {
    background: #0a1c31;
    border-radius: 4px;
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none!important;
    margin: 0 2px;
    font-size: 14px;
    color: #ffffff!important;
    transition: all ease 0.4s;
}
table.dataTable.no-footer{
    border: 0px;
}
table.dataTable tbody tr {
    background-color:transparent;
}
.dataTables_length,.dataTables_filter {
    margin: 0 0 10px;
}
.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input {
    background: #3B4046;
    height: 32px;
    border: 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #bdbfc5;
    outline: none;
    padding: 0 12px;
    box-sizing: border-box;
}
.table-hover.table-striped>tbody>tr:hover {
    --bs-table-accent-bg: rgb(233 238 245)!important;
    color: #555;
}
.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_filter label {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #bdbfc5;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 15px;
}
.dataTables_wrapper .dataTables_length select {
    margin: 0 10px;
}
table.table {
    box-shadow: 0px 4px 20px rgba(12, 15, 52, 0.08);
}
.dataTables_wrapper .dataTables_info {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #bdbfc5;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #bdbfc5 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px 10px;
    border: 0!important;
    background: rgb(59,64,70); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,64,70,1) 0%, rgba(45,48,55,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,64,70,1) 0%,rgba(45,48,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,64,70,1) 0%,rgba(45,48,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4046', endColorstr='#2d3037',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0px 15px rgb(0 0 0 / 18%);
    border-radius: 4px;
    margin: 0 2px;
    color: #bdbfc5!important;
    display: inline-block;
    transition: all ease 0.4s;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}
body .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
body .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
body .dataTables_wrapper .dataTables_paginate .paginate_button:hover, 
body .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: rgb(59,64,70); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(59,64,70,1) 0%, rgba(45,48,55,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(59,64,70,1) 0%,rgba(45,48,55,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(59,64,70,1) 0%,rgba(45,48,55,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4046', endColorstr='#2d3037',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0px 15px rgb(0 0 0 / 18%);
    color: #fff!important;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: rgb(234 237 247 / 65%);
}
.table-hover>tbody>tr:hover>* {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: rgb(234 237 247);
}


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #333; 
  }



  .trip_map {
    height: 100%;
}

.trip_map iframe {
    height: 100%;
    width: 100%;
}
span.input-group-text {
    color: #ef3d44;
    font-size: 16px;
}
@media (max-width:991px){
.trip_map {
    min-height: 350px;
    margin: 30px 0 30px;
}
}